.mySkills 


.flexContainer {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: auto;
  flex-wrap: 33%;
  background-color: #eee;
  /* My UX skills section coding using CSS */
}



.workGrid

   
.grid-container {
  display: grid;
  grid-template-rows: 25% 25% 25%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}


.grid-container {
  display: grid;
  grid-template-areas: "Travel App Project BC-Radio Re-Design using RWD";

  
}

.flexContainer {
    max-width: 1000000px;
    }
  
.flexChild1 {
    max-width:50%;
}

.flexChild2 {
  max-width:50%;
}

.flexChild3 {
  max-width:50%;
}


@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  /* .flexContainer {} */
  .workGrid {
    grid-area: myArea;
  }
  .grid-container {
    display: grid;
    grid-template-areas: "myArea myArea . . .";
  }
  .grid-container {
    display: grid;
    grid-template-rows: 100px 300px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }





 




















  

  

  

